{% extends "base.html" %}{% load static %}

{% block title %}Site est en construction{% endblock title %}

{% block body_class %}bg-stone-200{% endblock body_class %}
{% block content %}
<div class="container-base h-screen flex justify-center items-center">
  <div class="grid gap-8">
    <div class="text-center">
      <h1 class="text-3xl font-bold">Nous travaillons actuellement sur le site</h1>
      <p>Merci pour votre patience. Nous travaillons actuellement sur le site et nous reviendrons rapidement.</p>
    </div>
  </div>
</div>
{% endblock content %}